/* GENERAL */
* {
  transition-duration: 200ms;
  font-family: 'Varela Round';
  color: black;
  font-size: 20px;
}

body {
  padding: 20px;
  margin: 0;
  max-height: -webkit-fill-available;
  overflow: hidden;
}

html {
  height: -webkit-fill-available;
  overflow: hidden;
}

/* SECTIONS/CONTAINERS */
header {
  text-align: center;
}

footer {
  padding: 10px;
  position: center;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* TEXT */
h1 {
  font-size: 40px;
}

.fineprint {
  font-size: 16px;
}

.text {
  width: 100%;
  text-align: center;
  display: inline;
}